<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<!--<link type="text/css" th:href="@{/css/loading.css}" rel="stylesheet"/>-->
<script th:src="@{/lib/axios.min.js}"></script>
<script th:src="@{/lib/cryptojs.min.js}"></script>
<script th:src="@{/scripts/aes256.js}"></script>
<script type="text/javascript">

document.addEventListener("DOMContentLoaded", (evt) => {
});
</script>
<body>
<div class="wrap flex_center width_100">
    <h1>login complete</h1>
</div>
</body>
</html>