<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<!--<link type="text/css" th:href="@{/css/loading.css}" rel="stylesheet"/>-->
<script th:src="@{/lib/axios.min.js}"></script>
<script th:src="@{/lib/cryptojs.min.js}"></script>
<script th:src="@{/scripts/aes256.js}"></script>
<script type="text/javascript">

const key = "[[${aesKey}]]";
document.addEventListener("DOMContentLoaded", (evt) => {
	if(window.location.search.substring(1) === 'error') {
		alert('login failed.');
	}
	document.getElementById('login-form').addEventListener('submit', (e) => {
		e.preventDefault();
		document.getElementById('password').value = aes256Service().encrypt(document.getElementById('password').value);
		document.getElementById('login-form').submit();
	});
});
</script>
<body>
<div class="wrap flex_center width_100">
	<form action="/login" method="post" id="login-form">
		<input type="text" name="email" id="email" placeholder="Email" />
		<input type="password" name="password" id="password" placeholder="Password" />
		<button id="btn_login">로그인</button>
	</form>
</div>
</body>
</html>