<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<!--<link type="text/css" th:href="@{/css/loading.css}" rel="stylesheet"/>-->
<script th:src="@{/lib/axios.min.js}"></script>
<script th:src="@{/lib/cryptojs.min.js}"></script>
<script th:src="@{/scripts/aes256.js}"></script>
<script type="text/javascript">

const key = "[[${aesKey}]]";
document.addEventListener("DOMContentLoaded", (evt) => {
  document.getElementById('btn_signup').addEventListener('click', () => {
    axios
        .post('/signup', {
          email: document.getElementById('email').value,
          name: document.getElementById('name').value,
          password: aes256Service().encrypt(document.getElementById('password').value)
        })
        .then((res) => {
          alert('이메일 인증을 통해 가입을 완료해주세요.');
          window.location.reload();
        })
        .catch((e) => {
          alert(e);
        });
    });
});
</script>
<body>
<div class="wrap flex_center width_100">
    <input type="text" id="email" placeholder="Email" />
    <input type="text" id="name" placeholder="Name" />
    <input type="password" id="password" placeholder="Password" />
    <input type="password" id="password_confirm" placeholder="Password confirm" />
    <button id="btn_signup">가입</button>
</div>

<!--<div id="loading">-->
<!--    <img id="img_loading" th:src="@{/images/loading.gif}" alt="loading...">-->
<!--</div>-->
</body>
</html>